*{
	margin:0;
	padding:0;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}


.name{
	font-size: 35px;
     font-family: "Swis721 BlkCn BT";
     color: rgb(0, 0, 0);
      width: 400px;
      height: 100px;
      margin: 0 auto;
      line-height: 100px;
      margin-bottom: 30px; 
      text-align: center;
  }

.text1{
	float: left;
	/*margin-right: 0px;*/
	margin-right: 20px;
	width: 190px;
}

.text2 {
	float: left;
	/*margin-top:40px;*/
	font-size: 26px;
	text-decoration: none;
	font-family:"Sawarabi Gothic";
	/*width:45%;*/
	width: 190px;
}

.prof0{
    /*height: 15px;*/
    font-size: 25px;
    font-family: "Sawarabi Gothic";
    color: rgb(0, 0, 0);
    /*line-height: 1.2;*/
    /*display:block;
    float:right;*/
    width: 100%;


}

.prof1{
    /*height: 5px;*/
    font-size: 20px;
    font-family: "Sawarabi Gothic";
    color: rgb(0, 0, 0);
    /*margin-top:0;*/
    /*display:block;
    float:right;*/
    width: 100%;
   }

.container{
	width: 100%;
	height: 500px;
}

.content1{
	width: 400px;
	float: right;
	/*margin:0 auto;*/
	margin-right:120px;
	/*text-align: left;*/
}

/*.container{
	width: 100%;
	height: 500px;
	border: solid 3px black;
}*/

.test{
	width: 500px;
	height: 300px;
	float: left;
	background-color: orange;
}
